body{
    background-color: rgb(50, 50, 50);
}
#deadText{/* change because different way of dying */
    position: absolute;
    background-color: linear-gradient(crimson,red,red,white);
    color: black;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}
#all{
    position: absolute;
    background-color: white;
    z-index: -2;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
}
#town_img,#forge_img{
    position: absolute;
    z-index: -1;
    left: 0%;
    right: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
}
#choiceButtons{
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 5%;
    right: 5%;
}
#reg,#log{
    position: absolute;
    left: 10%;
    right: 10%;
    background-color: #20e680;
    border-radius: 20px;
}
#reg{
    top: 30%;
    bottom: 50%;
}
#log{
    top: 55%;
    bottom: 25%;
}
#boxes{
    background-color: rgb(50, 50, 50);
    position: absolute;
    top: 58%;
    left: 5%;
    right: 5%;
    bottom: 1%;
    border: 50px solid rgb(50, 50, 50);
    border-radius: 20px;
}
#button{
    position: absolute;
    bottom: 12.5%; 
    width: 100%;
}
#title{
    color: white;
    position: absolute;
    text-align: center;
    font-size: 30px;
    background-color: rgb(50, 50, 50);
    border-radius: 150px 150px 0px 0px;
    top: 53%;
    left: 20%;
    right: 20%;
    z-index: 1;
}
#male_avatar,#male_gender_button,#male_avatar_title{
    background-color: lightblue;
    transition: .5s;
}
#female_avatar,#female_gender_button,#female_avatar_title{
    background-color: pink;
    transition: .5s;   
}
#female_avatar,#female_gender_button{
    position: absolute;
    border-radius: 90px;
    right: 30%;
    top: 10%;
}
#male_avatar,#male_gender_button{
    position: absolute;
    border-radius: 90px;
    left: 30%;
    top: 10%;
}
#female_gender_button{
    position: absolute;
    right: 34%;
    top: 10%;
}
#male_gender_button{
    position: absolute;
    left: 34%;
    top: 10%;
}
#male_avatar:hover,#male_avatar:active{
    background-color: rgb(133,176,190);
    transition: .5s;
}
#female_avatar:hover,#female_avatar:active{
    background-color: rgb(215,152,163);
    transition: .5s;
}
#male{
    position: absolute;
    left: 30%;
    top: 20%;
}
#female{
    position: absolute;
    right: 30%;
    top: 20%;
}
#backButton{
    position: absolute;
    bottom: 5%;
    left: 8.3%;
    right: 8.3%;
}
#textChange{
    color: white;
}
#genderless{
    background-color: #20e680;
    border-radius: 90px;
    transition: .5s;   
}
#female_avatar_title,#male_avatar_title,#genderless{
    border-radius: 60px;
    left: 20%;
}
#home,#character,#forging,#inventory,#logOut{
    position: absolute;
    font-size: 150%;
    top: 38%;   
}
#footer_text{
    text-align: center;
    width: 100%;
    font-size: 200%;
    color: white;
}
#home{
    left: 21.5%;
}
#character{
    left: 32.5%;
}
#forging{
    left:47.5%;
}
#inventory{
    left: 60%;
}
#logOut{
    left: 77.5%;
}
#enemyHealthBar,#health{
    position: absolute;
    /* background-color: #dc3545; */
    border-radius: 50px;
    border: solid black 3px;
    color: black;
    font-size: 25px;
    text-align: center;
}
#enemyHealthBar{
    z-index: 0;
    width: 25%;
    height: 50px;
    left: 70%;
    top: 25%;
    bottom: 75%;
}
#health{
    z-index: 0;
    top: 92%;
    left: 2%;
    right: 2%;
    width: 96.5%;
    height: 40px;
}
/* here currently */
#enemyImg{
    position: absolute;
    width: 30%;
    height: 30%;
    left: 67.5%;
    top: 33%;
}
#buttons{
    position: absolute;
    top: 87%;
    width: 100%;
    text-align: center;
    height: 30px;
}
#weaponRoll,#weaponRollButton{
    position: absolute;
    top: 87%;
    left: 3%;
    right: 77%;
    width: 21.5%;
    background-color: #20e680;
    /* border: solid black 2px; */
}
#armourRoll,#armourRollButton{
    position: absolute;
    top: 87%;
    right: 2%;
    left: 62%;
    width: 21.5%;
    background-color: #20e680;
    /* border: solid black 2px; */
}
#swing,#swingButton{
    position: absolute;
    top: 87%;
    left: 23%;
    right: 52%;
    width: 21.5%;
    background-color: #20e680;
    /* border: solid black 2px; */
}
#sell,#sellButton{
    position: absolute;
    top: 87%;
    right: 26%;
    left: 42%;
    width: 21.5%;
    background-color: #20e680;
    /* border: solid black 2px; */
}
#weaponRoll,#weaponRollButton,#armourRoll,#armourRollButton,#swing,#swingButton,#sell,#sellButton{
    border-radius: 10px;
}
#sellButton,#swingButton,#armourRollButton,#weaponRollButton{
    width: 100%;
    background-color: #20e680;
    top: 0%;
}

#one,#two,#three,#four,#five,#six,#seven,#eight,#nine,#ten,#eleven,#twelve,#thirteen,#fourteen,#fifteen,#sixteen,#seventeen,#eighteen,#nineteen,#twenty,#twentyone{
    position: absolute;
    text-align:center;
}
#one,#four,#seven,#ten,#thirteen,#sixteen,#nineteen{
    left: 3%;
    right: 74%;
    width: 27%;
}
#two,#five,#eight,#eleven,#fourteen,#seventeen,#twenty{
    left: 36%;
    right: 35%;
    width: 27%;
}
#three,#six,#nine,#twelve,#fifteen,#eighteen,#twentyone{
    right:4%;
    left: 69%;
    width: 27%;
}
#one,#two,#three{
    top: 18%;
}
#four,#five,#six{
    top: 92%;
}
#seven,#eight,#nine{
    top: 166%;
}
#ten,#eleven,#twelve{
    top: 240%;
}
#thirteen,#fourteen,#fifteen{
    top: 314%;
}
#sixteen,#seventeen,#eighteen{
    top: 388%;
}
#nineteen,#twenty,#twentyone{
    top: 462%;
}
#equip{
    width: 50%;
    height: 30px;
    border-radius: 90px;
}
/* 7 Center */
#forward,#forwardCenter{
    position: absolute;
    top: auto;
    height: 100%;
    border-radius: 45px;
}
#forward{
    right: 35%;
    left: 50%; 
}
#backward,#backwardCenter{
    position: absolute;
    top:auto;
    height: 100%;
    border-radius: 45px;
}
#backward{
    right: 50%;
    left: 35%;
}
#backwardCenter,#forwardCenter{
    right: 40%;
    left: 40%;
}
#traversalButtons,#traversalButtonsOne,#traversalButtonsTwo,#traversalButtonsThree,#traversalButtonsFour,#traversalButtonsFive,#traversalButtonsSix,#traversalButtonsSeven{
    position: absolute;
    width: 100%;
    height: 5%;
}
#traversalButtonsOne{
    top:91%;
}
#traversalButtonsTwo{
    top:164%;
}
#traversalButtonsThree{
    top: 238%;
}
#traversalButtonsFour{
    top:312%;
}
#traversalButtonsFive{
    top:386%;
}
#traversalButtonsSix{
    top:460%;
}
#traversalButtonsSeven{
    top:534%;
}
a{
    color: #20e680;
}
a:hover{
    color: #19ac60;
}
a:active{
    color: #157e47;
}
#basicFooter,#position1Footer,#position2Footer,#position3Footer,#position4Footer,#position5Footer,#position6Footer,#position7Footer{
    position: absolute;
    width: 100%;
    z-index: 1;
}
#basicFooter{
    bottom: 0%;
}
#position1Footer{
    top:94%;
}
#position2Footer{
    top:167%;
}
#position3Footer{
    top:241%;
}
#position4Footer{
    top:315%;
}
#position5Footer{
    top:389%;
}
#position6Footer{
    top:463%;
}
#position7Footer{
    top:537%;
}
#navbar{
    position: sticky;
    top: 0%;
    width: 100%;  
    z-index: 1;
}
#coin{
    position:absolute;
    height: 100px;
    width: 80px;
    left: 11%;
    text-align: center;   
}
#goldCoin{
    height: 80%;
    width: 100%;
}